<% provide(:title, "New Classroom") %>
<h1>New Classroom</h1>
<div class="row">
  <div class="col-md-6">
    <div class="btn-group">   
      <%= form_for(@classroom) do |f| %>
        <%= render 'classrooms/form' %>
          <%= f.label "Class Name" %>
          <%= f.text_field :name %><br>

          <%= f.label "Code" %>
          <%= f.text_field :code %><br>

          <%= f.label "Active" %>
          <%= f.check_box :active %><br>

          <%= f.submit "Create class", name: nil,  class: "btn btn-primary" %>
        <% end %>
        <%= form_for :classroom, :url => classrooms_path, method: :get do |f| %>
          <%= submit_tag "Back", name: nil, :class => "btn btn-small btn-primary"%>
        <%end%>
      </div>
  </div>
</div>