<% if @classroom.present? %>
  <% provide(:title, "Classroom #{@classroom.id}") %>
</br>
  <p id="notice"><%= notice %></p>

  <p>
    <strong> Class Name:</strong>
    <%= @classroom.name %><br>
  </p>

  <p>
    <strong>Code:</strong>
    <%= @classroom.code %><br>
  </p>

  <p>
    <strong>Active:</strong>
    <%= @classroom.active %><br>
  </p>
  <div class="row">
    <div class="col-md-6">
      <table style="width:100%">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Admission year</th>
            <th>Active</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.admission_year %></td>
              <td><%= student.active %></td>
              <td><%= form_for :students, :url => student_path(student), method: :get do |f| %>
                <%= submit_tag "Student details", name: nil, :class => "btn btn-small btn-primary"%>
              <%end%>
              <td><%= form_for :students, :url => edit_student_path(student), method: :get do |f| %>
                <%= submit_tag "Edit", name: nil, :class => "btn btn-small btn-danger"%>
              <%end%>
              <td><%= form_for :students, :url => { :id => student.id, :action => "destroy" }, method: :delete do |f| %>
                <%= submit_tag "Delete", name: nil, :class => "btn btn-small btn-danger",
                :confirm => "Do you want to remove this student permanently?"%>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-12 form-inline">
      <div class="btn-group">
        <%= form_for :classroom, :url => new_student_path, method: :get do |f| %>
          <%= f.hidden_field :id, :value => @classroom.id %>
          <%= submit_tag "Add New Student", name: nil, :class => "btn btn-small btn-primary"%>
        <%end%>
        <%= form_for :classroom, :url => edit_classroom_path(@classroom), method: :get do |f| %>
          <%= submit_tag "Edit Class", name: nil, :class => "btn btn-small btn-danger"%>
        <%end%>
        <%= form_for :classroom, :url => classrooms_path, method: :get do |f| %>
          <%= submit_tag "Back", name: nil, :class => "btn btn-small btn-primary"%>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
<% unless @students.blank?%>
  <div class="list-noinfo" ><%= page_entries_info @students, :entry_name => 'v'%></div>
  <div class="toolbar"><%= will_paginate @students , :class => "toolbar_pagination_full",
    :previous_label => "« Previous", :next_label => "Next »"%></div>
<%end%> 