<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :admission_year %>
    <%= form.number_field :admission_year, id: :student_admission_year %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :student_active %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.text_field :classroom_id, id: :student_classroom_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
