<h1>Editing Student</h1>

<div class="row">
  <div class="col-md-12 form-inline">
    <%= form_for :student, :url => student_path(@student), method: :patch do |f| %>
      <%= render 'students/form' %>
      <%= f.label "Student Name" %>
      <%= f.text_field :name %><br>

      <%= f.label "Admission Year Test" %>
      <%= f.number_field :admission_year %>

      <%= f.label "Active" %>
      <%= f.check_box :active %><br>

      <%= submit_tag "Update", name: nil, :class => "btn  btn-small btn-danger" %>
    <% end %>
    <%= form_for :student, :url => students_path, method: :get do |f| %>
      <%= submit_tag "Back", name: nil, :class => "btn btn-small btn-primary"%>
    <%end%>
  </div>
</div>