<% provide(:title, "New Student") %>
<h1>New Student</h1>
<div class="row">
  <div class="col-md-6">
    <%= form_for(@student) do |f| %>
        <%= render 'students/form' %>
      <%= f.label "Student Name" %>
      <%= f.text_field :name %><br>

      <%= f.label "Admission Year" %>
      <%= f.text_field :admission_year %><br>

      <%= f.label "Active" %>
      <%= f.check_box :active %><br>

      <%= f.hidden_field :classroom_id, :value => @classroom.id %>

      <%= f.submit "Create Student", class: "btn btn-primary" %>
    <% end %>
    <%= form_for :classroom, :url => classrooms_path, method: :get do |f| %>
      <%= submit_tag "Back", name: nil, :class => "btn btn-small btn-primary"%>
    <%end%>
  </div>
</div>
